<!-- <button onclick="print('http://localhost:2002/#')">Imprimer le PDF</button> -->





<!-- navbar brand and navbar-->

<section class="nav ">
    <div class="container menunav">


        <div class="row">
            <div class="col-lg-12">

                <!--Navbar-->
                <nav class="navbar navbar-expand-lg navbar-light blue-grey lighten-5 mb-4">

                    <!-- Navbar brand -->
                    <!-- <a class="navbar-brand" href="/">LES BRASSEURS DE FRANCE<img src="" alt=""> </a> -->

                    <!-- Collapse button -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation"><span
                            class="navbar-toggler-icon"></span></button>
                    
                    <!-- Collapsible content -->
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div style="text-align: center; ">
                            <h1>BREWER'S FRENCH</h1>
                        </div>
                        <!-- Links -->
                        <ul class="navbar-nav mr-auto nav1">
                            <li class="nav-item">

                                <a class="nav-link" href="/">Accueil</a>
                            </li>

                            <li class="nav-item">

                                <a class="nav-link" href="/">deconnecter</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/detailbra">Brasseurs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/histbeer">Histoire</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/fabbeer">Fabrication</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contact">Contact</a>
                            </li>

                        </ul>
                   
                    </div>

                </nav>
            </div>
        </div>
    </div>
</section>
<!-- Modal enregistrer -->
<div class="modal fade" id="inscrire" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">LOGIN</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div id="login-row" class="row justify-content-center align-items-center">
                        <div id="login-column" class="col-md-6">
                            <div id="login-box" class="col-md-12">
                                <form id="login-form" class="form" action="/users/register" method="post"
                                    enctype="multipart/form-data">
                                    <h3 class="text-center text-dark"></h3>
                                    <div class="form-group">
                                        <label for="firstname" class="text-black">Firstname:</label><br>
                                        <input type="text" name="firstname" id="firstname" class="form-control"
                                            required>
                                    </div>
                                    <div class="form-group">
                                        <label for="lastname" class="text-black">Lastname:</label><br>
                                        <input type="text" name="lastname" id="lastname" class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="text-black">Email:</label><br>
                                        <input type="email" name="email" id="email" class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="password" class="text-black">Password:</label><br>
                                        <input type="password" name="password" id="password" class="form-control"
                                            required>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <label for="remember-me" class="text-black"><span>Remember me</span> <span><input id="remember-me"
                                name="remember-me" type="checkbox"></span></label><br>
                    <input type="submit" name="submit" class="btn btn-info btn-md" value="Enregistrer">
                </div>
                <!-- <div id="register-link" class="text-right">
                    <a href="#" class="text-black">Register here</a>
                </div> -->
            </div>
        </div>
    </div>
</div>







<!-- Modal se connecter -->
<div class="modal fade" id="connecter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">LOGIN</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="login">

                    <div class="container">
                        <div id="login-row" class="row justify-content-center align-items-center">
                            <div id="login-column" class="col-md-6">
                                <div id="login-box" class="col-md-12">
                                    <form id="login-form" class="form" action="/users/login" method="post"
                                        enctype="multipart/form-data">
                                        <h3 class="text-center text-dark"></h3>
                                        <div class="form-group">
                                            <label for="firstname" class="text-black">Firstname:</label><br>
                                            <input type="text" name="firstname" id="firstname" class="form-control"
                                                required>
                                        </div>
                                        <div class="form-group">
                                            <label for="lastname" class="text-black">Lastname:</label><br>
                                            <input type="text" name="lastname" id="lastname" class="form-control"
                                                required>
                                        </div>
                                        <div class="form-group">
                                            <label for="password" class="text-black">Password:</label><br>
                                            <input type="password" name="password" id="password" class="form-control"
                                                required>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <label for="remember-me" class="text-black"><span>Remember me</span> <span><input id="remember-me"
                                name="remember-me" type="checkbox"></span></label><br>
                    <input type="submit" name="submit" class="btn btn-info btn-md" value="connecter">
                </div>
                <!-- <div id="register-link" class="text-right">
                    <a href="#" class="text-black">Register here</a>
                </div> -->
            </div>
        </div>
    </div>
</div>
     <!-- boutons modal -->
     <div class="row">
        <div class="col-lg-6">
    
          <button type="button" class="btn btn-primary"
                data-toggle="modal" data-target="#inscrire">
                s'inscrire
            </button>
             <button type="button" class="btn btn-primary"
                data-toggle="modal" data-target="#connecter">
                Se connecter
            </button>
        </div>
    </div>