<%- include('layouts/head.ejs')%>



    <style>
    button.btn.btn-primary{
        display: none;
    }
</style>
    
    <%- include('layouts/menu.ejs')%>
    <h2 >LES BRASSEURS </h2>
    







    <%- include('layouts/footer.ejs')%>
